# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configuration (DO NOT COMMIT PERSONAL CREDENTIALS)
config.json
config.key
session_cache.json

# Builds & Binaries
build/
dist/
*.spec
*.exe
*.dll
*.so
*.dylib

# Logs
*.log
debug.log

# Downloads
download/
downloads/

# IDEs & OS
.idea/
.vscode/
id_rsa
.DS_Store

# Local presentation & test files
*.pptx
*_test.go
test/
tests/
*.har
*.exe~