# Configuration (DO NOT COMMIT PERSONAL CREDENTIALS)
config.json
config.key
session_cache.json

# Builds & Binaries
dist/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log
debug.log

# Downloads & Sandboxes
download/
downloads/

# IDEs & OS
.idea/
.vscode/
.DS_Store
*.har

# Local presentation & test files
*.pptx
*_test.go
test/
tests/